body {
    margin: 0;
    padding: 0;
    background-color: rgb(206, 208, 212);
}

#form {
    display: flex;
    justify-content: center;
}

div {
    margin-bottom: -2rem;
}

#submitButton {
    background-color: green;
    border: none;
    border-radius: 5px;
    height: 5rem;
    width: 20rem;
    font-size: 2rem;
}

button:hover {
    cursor: pointer;
    text-shadow: black;
    filter: brightness(85%);
}

#form input {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: auto;
    row-gap: 3rem;
}

#firstNameError {
    color: red;
    font-weight: bold;
    visibility: hidden;
}

#lastNameError {
    color: red;
    font-weight: bold;
    visibility: hidden;
}

#emailError {
    color: red;
    font-weight: bold;
    visibility: hidden;
}

#passwordError {
    color: red;
    font-weight: bold;
    visibility: hidden;
}

#passwordConfirmError {
    color: red;
    font-weight: bold;
    visibility: hidden;
}

#dobError {
    color: red;
    font-weight: bold;
    visibility: hidden;
}

#addressError {
    color: red;
    font-weight: bold;
    visibility: hidden;
}

#postalCodeError {
    color: red;
    font-weight: bold;
    visibility: hidden;
}

#ageError {
    color: red;
    font-weight: bold;
    visibility: hidden;
}