body {
    margin: 0;
    padding: 0;
}

#form {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: auto;
    row-gap: 3rem;
}

#firstNameError {
    color: red;
    font-weight: bold;
    visibility: hidden;
}

#lastNameError {
    color: red;
    font-weight: bold;
    visibility: hidden;
}

#emailError {
    color: red;
    font-weight: bold;
    visibility: hidden;
}

#passwordError {
    color: red;
    font-weight: bold;
    visibility: hidden;
}

#passwordConfirmError {
    color: red;
    font-weight: bold;
    visibility: hidden;
}

#dobError {
    color: red;
    font-weight: bold;
    visibility: hidden;
}

#addressError {
    color: red;
    font-weight: bold;
    visibility: hidden;
}

#postalCodeError {
    color: red;
    font-weight: bold;
    visibility: hidden;
}